---
import s from "./styles.module.css";
---

<nav class={s.nav}>
  <ul class={s.list}>
    <li class={s.item}><a class={s.link} href="/">About</a></li>
    <li class={s.item}><a class={s.link} href="/blog/">Blog</a></li>
  </ul>
</nav>
