---
import BlogCard from "../components/blogCard/BlogCard.astro";
import BaseLayout from "../layouts/baseLayout/BaseLayout.astro";
// import BlogCard from "../components/blogCard/BlogCard.astro";
import "../styles/global.css";
import s from "./styles.module.css";

const allPosts = await Astro.glob("./posts/*.md");
---

<BaseLayout>
  <main class=`${s.section} ${s.blog}`>
    <ul class={s.cardList}>
      {
        allPosts.map((post) => (
          <li>
            <BlogCard
              url={post.url}
              title={post.frontmatter.title}
              description={post.frontmatter.description}
              tags={post.frontmatter.tags}
            />
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
