---
import BaseLayout from "./baseLayout/BaseLayout.astro";
import type { MarkdownPostLayoutFrontmatter } from "./types";
import s from "./styles.module.css";

interface Props {
  frontmatter: MarkdownPostLayoutFrontmatter;
}

const { frontmatter }: { frontmatter: MarkdownPostLayoutFrontmatter } =
  Astro.props;
const { title, shortDescription, pubDate, sections } = frontmatter;
---

<BaseLayout>
  <main class={s.postContainer}>
    <h1>{title}</h1>
    <p>{shortDescription}</p>
    <p>{pubDate}</p>
    <main>
      {
        sections.map((section) => (
          <section>
            <h2>{section.heading}</h2>
            <p>{section.content}</p>
          </section>
        ))
      }
    </main>
  </main>
</BaseLayout>
