---
import BaseLayout from "./BaseLayout.astro";
import type { MarkdownPostLayoutFrontmatter } from "./types";

interface Props {
  frontmatter: MarkdownPostLayoutFrontmatter;
}

const { frontmatter }: { frontmatter: MarkdownPostLayoutFrontmatter } =
  Astro.props;
const { title, shortDescription, pubDate, sections } = frontmatter;
---

<BaseLayout>
  <h1>{title}</h1>
  <p>{shortDescription}</p>
  <p>{pubDate}</p>
  <main>
    {
      sections.map((section) => (
        <section>
          <h2>{section.heading}</h2>
          <p>{section.content}</p>
        </section>
      ))
    }
  </main>
  <slot />
</BaseLayout>
