---
import BaseLayout from "./baseLayout/BaseLayout.astro";
import type { MarkdownPostLayoutFrontmatter } from "./types";
import s from "./styles.module.css";

interface Props {
  frontmatter: MarkdownPostLayoutFrontmatter;
}

const { frontmatter }: { frontmatter: MarkdownPostLayoutFrontmatter } =
  Astro.props;
const { title, description, pubDate, sections } = frontmatter;
---

<BaseLayout>
  <main class={s.postContainer}>
    <h1>{title}</h1>
    <p class={s.publicationDate}>{pubDate}</p>
    <p>{description}</p>
    <div class={s.line}></div>
    <main>
      {
        sections.map((section) => (
          <section class={s.section}>
            <h2>{section.heading}</h2>
            <p>{section.content}</p>
          </section>
        ))
      }
    </main>
  </main>
</BaseLayout>
